<div class="content">
    h3 Hello!
    p I am a UI/UX Developer from India, with an expertise in creating rich data-driven, high performance, device responsive web application involving modern frameworks like ReactJS, Redux, Knockout and Backbone.
    p I am also an experienced Graphic designer acquainted with latest industry design trends with knowledge of how to utilize them in designing clean, minimalistic and aesthetic UX.
    h5
        a(class="pink animated-underline-link" target="_blank" id="aboutMe" onclick="window.openModal()") Get to know me better
</div>