<div class="content">
    p Hi, I am <span>Ishan</span>
    .designation
        <ul class="designation__list">
            <li class="designation__list__item"><h1>Developer</h1></li>
            <li class="designation__list__item"><h1>Designer</h1></li>
            <li class="designation__list__item"><h1>Dreamer</h1></li>
            <li class="designation__list__item"><h1>Diablo</h1></li>
        </ul>
</div>