<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ishan Jain || Web developer</title>
    <meta name="author" content="Ishan Jain" />
    <meta name="description" content="Ishan jain web developer" />
    <meta name="keywords" content="reactjs developer" />
    <meta name="Resource-type" content="Document" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
    <div id="fullpage">
        <div class="section" id="home">
            include home/home.pug
        </div>
        <div class="section" id="about">
            include about/about.pug
        </div>
        <div class="section" id="projects">
            include projects/projects.pug
        </div>
        <div class="section">
            #contactMe.centerSection.card-2
                include contactMe.pug
        </div>
    </div>
</body>
</html>