.content
    h3 Clients
    <ul>
        li.card-1.jeep
            img(src="../images/jeep.svg", alt="Jeep")
        li.card-1.chrysler 
            img(src="../images/chrysler.svg", alt="Chrysler")   
        li.card-1.taj
            img(src="../images/taj.png", alt="Taj Hotels")
        li.card-1.atnt
            img(src="../images/at-t.svg", alt="AT&T")
        li.card-1.vivo
            img(src="../images/telefonica.svg", alt="Telefonica")
        li.card-1.fiat
            img(src="../images/fiat.svg", alt="Fiat")
    </ul>