.content
    h3 Clients
    <ul>
        li.card-1.jeep
            img(src="../images/jeep.svg", alt="Jeep")
            p Worked as a UI developer for most iconic automobile brand Jeep<sub>®</sub>.
        li.card-1.chrysler 
            img(src="../images/chrysler.svg", alt="Chrysler")
            p Worked as a Web developer for automobile giant Chrysler<sub>®</sub>.      
        li.card-1.taj
            img(src="../images/taj.png", alt="Taj Hotels")
            p Helped revamped web portals for 5 star luxury hotel chain Taj Hotels India.
        li.card-1.atnt
            img(src="../images/at-t.svg", alt="AT&T")
            p Worked with world's largest telecom provider At&T, enhanced performance for its portals
        li.card-1.vivo
            img(src="../images/telefonica.svg", alt="Telefonica")
            p Worked with Telefonica Vivo as a UI developer and performance specialist
        li.card-1.fiat
            img(src="../images/fiat.svg", alt="Fiat")
            p Worked as a UI developer with Automobile giant Fiat Automobiles.
    </ul>