.content
    h3 Worked proudly with
    <ul>
        li 
            img(src="../images/jeep.svg", alt="Jeep")
        li 
            img(src="../images/chrysler.svg", alt="Chrysler")
        li 
            img(src="../images/fiat.svg", alt="Fiat")
        li 
            img(src="../images/taj.png", alt="Taj Hotels")
        li 
            img(src="../images/at-t.svg", alt="AT&T")
        li 
            img(src="../images/telefonica.svg", alt="Telefonica")
    </ul>