h2 Projects
.content
    .grid
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3
        .card.card-1
            .img-container
            h5 Jeep
            .tech-grid
                span i1
                span i2
                span i3