article.project-container
        .img-container
        .details-container
            h3 Self Service Portal
            h5 E-Commerce web application for telecom users

            .seperator

            p Upgraded Amdocs E-Commerce Self-service user application from knockout Backbone architecture to React-Redux framework for enhanced performance.

            p Optimized web application to run on multiple platforms like AEM, Web, Android and iOS.

            p Devised build system using Webpack, Gulp, Yeoman and NodeJS capable of transforming ES6 code to ES5, SASS to CSS, bundling and minifying all modules.
                            
            .tech-used
                div 
                    img(src="../images/file_type_reactjs.svg", alt="React" title="React")
                div 
                    img(src="../images/file_type_webpack.svg", alt="Webpack" title="Webpack")
                div 
                    img(src="../images/file_type_js.svg", alt="JS" title="Javascript ES6")
                div
                    img(src="../images/file_type_html.svg", alt="HTML" title="HTML 5")
                div
                    img(src="../images/file_type_sass.svg", alt="Sass" title="Sass")
                div
                    img(src="../images/file_type_node.svg", alt="Node" title="Node JS")
                