article.project-container
        .img-container
        .details-container
            h3 FCA
            h5 Fiat Chrysler Automobile

            .seperator

            p Worked with automobile giant FCA, designed, developed and successfully delivered for multiple clients Fiat, Jeep, Chrysler, RamTrucks, Dodge and Uconnect.

            p Implemented Adobe Analytics (Adobe Site Catalyst) in all Fiat Chrysler Automobile (FCA) websites, enabling client in applying real-time analytics and detailed segmentation of user activity across all of their websites.

            p Integrated Uconnect systems website into all FCA websites enabling users to have detailed perspective of automobile’s Interior specifications.
            
            h5 Live project link:
            .link-container
                h5
                    a(class="pink animated-underline-link" target="_blank" title="Jeep.com link" href="http://www.jeep.com") Jeep
                h5
                    a(class="pink animated-underline-link" target="_blank" title="Fiat.com link" href="http://www.fiatusa.com") Fiat
                h5
                    a(class="pink animated-underline-link" target="_blank" title="Chrysler.com link" href="http://www.chrysler.com") Chrysler
                h5
                    a(class="pink animated-underline-link" target="_blank" title="Dodge.com link" href="http://www.dodge.com") Dodge

            .tech-used
                div 
                    img(src="../images/file_type_css.svg", alt="CSS" title="CSS")
                div 
                    img(src="../images/file_type_js.svg", alt="JS")
                div
                    img(src="../images/file_type_html.svg", alt="HTML")
                div
                    img(src="../images/file_type_sass.svg", alt="Sass")
                div
                    img(src="../images/file_type_grunt.svg", alt="Grunt")
                div
                    img(src="../images/file_type_photoshop.svg", alt="PS")
                