<div class="slide" id="slide1">
    include fca.pug
</div>
<div class="slide" id="slide2">
    include ecomm.pug
</div>
<div class="slide" id="slide3">
    include vivo.pug
</div>
<div class="slide" id="slide4">
    include tajhotels.pug
</div>