article.project-container
        .img-container
        .details-container
            h3 Taj
            h5 Taj Hotels Group

            .seperator

            p Designed and developed high performance, optimized, responsive websites for esteemed client Taj Hotels Group. Multi-platform website is capable of running on multiple devices with varied resolution.

            h5 Live project link:
            .link-container
                h5
                    a(class="pink animated-underline-link" target="_blank" title="Taj Hotels" href="https://www.tajhotels.com/") Taj Hotels
            
            .tech-used
                div 
                    img(src="../images/file_type_reactjs.svg", alt="ReactJS" title="React JS")
                div 
                    img(src="../images/file_type_jquery.svg", alt="jQuery" title="jQuery")
                div
                    img(src="../images/file_type_polymer.svg", alt="PolymerJS" title="Polymer")
                div 
                    img(src="../images/file_type_js.svg", alt="JS" title="Javascript")
                div
                    img(src="../images/file_type_gulp.svg", alt="Gulp" title="Gulp")
                div
                    img(src="../images/file_type_html.svg", alt="HTML" title="HTML")
                div
                    img(src="../images/file_type_node.svg", alt="Node" title="Node JS")