article.project-container
        .img-container
        .details-container
            h3 Vivo
            h5 Telefônica Vivo

            .seperator

            p Developed rich data driven web application using Knockout and Backbone and incorporated it in Adobe Experience Manager (AEM).

            p Worked on application from its nascent stage to its successful deployment on production while following Agile methodology, application is catering 10 million active users.

            p Enhanced performance of VIVO web portal by 700% decreasing load time from 42 sec to 6 sec.
                            
            .tech-used
                div 
                    img(src="../images/file_type_knockout.png", alt="Knockout" title="Knockout JS")
                div 
                    img(src="../images/file_type_jquery.svg", alt="jQuery" title="jQuery")
                div
                    img(src="../images/file_type_java.svg", alt="HTML" title="Java")
                div 
                    img(src="../images/file_type_js.svg", alt="JS" title="Javascript")
                div
                    img(src="../images/file_type_html.svg", alt="HTML" title="HTML 5")
                div
                    img(src="../images/file_type_node.svg", alt="Node" title="Node JS")
                