#clients {
    background: $white;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        li {
            width: 200px;
            height: 200px;
            position: relative;
            border: 5px solid $white;
            background-position-x: 45%;
            img {
                width: 100%;
                max-width: 120px;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 1;
            }
        }
    }
}