.centerSection {
    position: relative;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.pink {
    color: $pink;
}

.purple {
    color: $main-color;
}

.indigo {
    color: $secondary-color;
}