.content
    h3 Milestones
    .milestones-grid
        .milestone
            img(src="../images/milestone_project.svg", alt="Projects")
            .details
                h4 13
                h6 Projects successfdivly completed
        .milestone
            img(src="../images/milestone_coffee.svg", alt="Projects")
            .details
                h4 2835
                h6 Cups of tea slaked.
        .milestone
            img(src="../images/milestone_place.svg", alt="Projects")
            .details
                h4 5
                h6 Cities worked in
        .milestone
            img(src="../images/dota-2.svg", alt="Projects")
            .details
                h4 3248
                h6 Hours of Dota played
        .milestone
            img(src="../images/milestone_framework.svg", alt="Projects")
            .details
                h4 33
                h6 UI Frameworks, divbraries & Softwares
