@import './base/reset.scss';
@import './base/fullPage.scss';
@import './base/shadows.scss';
@import './base/animations.scss';

@import './variables/colors.scss';
@import './variables/typography.scss';

@import './application/common.scss';
@import './application/home.scss';
@import './application/about.scss';
@import './application/clients.scss';
@import './application/milestones.scss';
@import './application/modal.scss';

body {
    font-family: 'Raleway', sans-serif;
    background-color: $medium-grey;
    background-size: cover;
    color: $text-primary;
}
h1{
    font-size: 6em;
}

.content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

#fullpage {
    top: -10px;
}