$sans-serif: 'Raleway', sans-serif;
$serif: 'Roboto Slab', serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 800;

$text-primary: $black;

$base-size: 1;

$h1: ($base-size)*6em;
$h2: ($base-size)*5em;
$h3: ($base-size)*4em;
$h4: ($base-size)*3em;
$h5: ($base-size)*1.3em;
$h6: ($base-size)*1em;

.white {
    color: $white;
}

.bold {
    font-weight: $bold;
}

.regular {
    font-weight: $normal;
}

.light {
    font-weight: $light;
}

h1 {
    font-family: $sans-serif;
    font-size: $h1;
    letter-spacing: 5px;
}

h2 {
    font-family: $sans-serif;
    font-size: $h2;
    letter-spacing: 2px;
}

h3 {
    font-family: $sans-serif;
    font-size: $h3;
}

h4 {
    font-family: $sans-serif;
    font-size: $h4;
}

h5 {
    font-family: $sans-serif;
    font-size: $h5;
}

h6 {
    font-family: $sans-serif;
    font-size: $h6;
}

p {
    font-family: $serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px 0;
}

.section-header {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: $bold;
}