include canvas.pug
<div class="content">
    p Hi, I am <span>Ishan</span>
    .designation
        <ul class="designation__list">
            <li class="designation__list__item">
                <h1><span class="pink">D</span>eveloper</h1>
            </li>
            <li class="designation__list__item">
                <h1><span class="pink">D</span>esigner</h1>
            </li>
            <li class="designation__list__item">
                <h1><span class="pink">D</span>reamer</h1>
            </li>
            <li class="designation__list__item">
                <h1><span class="pink">D</span>iablo</h1>
            </li>
        </ul>
</div>